<div id="container">
  <div class="header">
    <h6 class="card-header">
      {{ "Tìm kiếm " }}
    </h6>
    <div class="row mt-1">
      <div class="col-5">
        <tmss-text-input [text]="'giá trị tìm kiếm'" (onSearch)="onSearch()" [(ngModel)]="filter"></tmss-text-input>
      </div>
      <div class="col-3">
        <tmss-combobox [text]="'search theo'"  [items]="searchType" [(ngModel)]="type"></tmss-combobox>
      </div>
      <div class="col-1">
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="onSearch()">
          <i class="fa tmss-fa fa-search"></i>
          <span class="ml-1">Tìm kiếm</span>
        </button>
      </div>
    </div>
    
  </div>

  <div class="main mt-2">
    <h6 class="card-header">
      {{ "Danh sách nhân viên" }}
    </h6>

    <div class="row mt-1">
      <div class="col-12">
        <grid-table [columnDefs]="columnsDef" [defaultColDef]="defaultColDef" [rowData]="pagedRowData"
          (callBackEvent)="callBackEvent($event)" (changePaginationParams)="changePaginationParams(paginationParams)"
          [height]="'312px'" [paginationParams]="paginationParams" (onChangeSelection)="onChangeSelection($event)">
        </grid-table>
      </div>
    </div>
    <div class="ui-g-12 text-right mt-2">
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="exportExcel()" [disabled]="user.EmpType === 2">
        <i class="fa tmss-fa fa-download"></i>
        <span class="ml-1">Xuất excel</span>
      </button>
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="add()" [disabled]="user.EmpType === 2">
        <i class="fa tmss-fa fa-plus"></i>
        <span class="ml-1">Thêm nhân viên</span>
      </button>
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="edit()" [disabled]="!selectedData || user.EmpType === 2">
        <i class="fa tmss-fa fa-edit"></i>
        <span class="ml-1">Sửa thông tin</span>
      </button>
      <button class="tmss-btn btn-outline-danger mr-2 mt-1" (click)="delete()" [disabled]="!selectedData || user.EmpType === 2">
        <i class="fa tmss-fa fa-eraser"></i>
        <span class="ml-1">Xóa nhân viên</span>
      </button>
    </div>
  </div>
</div>

<app-create-or-edit-employee #createOrEditEmployee [empList]="rowData" (modalSave)="modalSave($event)"></app-create-or-edit-employee>
