<div id="container">
  <div class="header">
    <h6 class="card-header">
      {{ "Tìm kiếm " }}
    </h6>

    <div class="row mt-1">
      <div class="col-3">
        <tmss-datepicker [text]="'Từ Ngày'" (onSearch)="onSearch()" [(ngModel)]="fromdate"></tmss-datepicker>
      </div>
      <div class="col-3">
        <tmss-datepicker [text]="'Đến Ngày'" (onSearch)="onSearch()" [(ngModel)]="todate"></tmss-datepicker>
      </div>
      <!-- <div class="col-3">
        <tmss-combobox [text]="'search theo'"  [items]="searchType" [(ngModel)]="type"></tmss-combobox>
      </div> -->
      <div class="col-1">
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="onSearch()">
          <i class="fa tmss-fa fa-search"></i>
          <span class="ml-1">Tìm kiếm</span>
        </button>
      </div>
    </div>

  </div>

  <div class="main mt-2">
    <h6 class="card-header">
      {{ "Danh sách hóa đơn" }}
    </h6>

    <div class="row mt-1">
      <div class="col-12">
        <grid-table [columnDefs]="columnsDef" [defaultColDef]="defaultColDef" [rowData]="pagedRowData"
          (callBackEvent)="callBackEvent($event)" (changePaginationParams)="changePaginationParams(paginationParams)"
          [height]="'200px'" [paginationParams]="paginationParams" (onChangeSelection)="onChangeSelection($event)">
        </grid-table>
      </div>
    </div>

    <h6 class="card-header">
      {{ "Chi tiết hóa đơn" }}
    </h6>

    <div class="row mt-1">
      <div class="col-12">
        <grid-table [columnDefs]="detailColDef" [defaultColDef]="defaultColDef" [rowData]="rowDataDetail"
           [showPagination]="false"
          [height]="'200px'"  (onChangeSelection)="onChangeSelection($event)">
        </grid-table>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-8">
      </div>
      <div class="col-4">
        <tmss-text-input [text]="'Tổng'"  [(ngModel)]="tongTien"></tmss-text-input>
      </div>
    </div>
    <!-- <div class="ui-g-12 text-right mt-2">
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="add()" [disabled]="user.EmpType === 2">
        <i class="fa tmss-fa fa-plus"></i>
        <span class="ml-1">Thêm hóa đơn</span>
      </button>
      <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="edit()" [disabled]="!selectedData || user.EmpType === 2">
        <i class="fa tmss-fa fa-edit"></i>
        <span class="ml-1">Sửa hóa đơn</span>
      </button>
      <button class="tmss-btn btn-outline-danger mr-2 mt-1" (click)="deleteHoadon()" [disabled]="!selectedData || user.EmpType === 2">
        <i class="fa tmss-fa fa-eraser"></i>
        <span class="ml-1">Xóa hóa đơn</span>
      </button>
    </div> -->
  </div>
</div>

<app-create-or-edit-pets #createOrEditPets [petsList]="rowData" (modalSave)="modalSave($event)"></app-create-or-edit-pets>
